@media (max-width: 575px) {
  .container {
    width: 100%;
  }
} 

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 768px) {
  .nav {
    .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
  }
  .nav {
    .nav-btn {
      label {
        cursor: pointer;
        display: inline-block;
        // width: 50px;
        // height: 50px;
        padding: 4px 9px;
      }
    }
  }
  .nav {
    >.nav-btn {
      >label {
        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }
    #nav-check {
      &:checked {
        ~ {
          .nav-btn {
            >label {
              background-color: rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
    }
  }
  .nav {
    >.nav-btn {
      >label {
        >span {
          display: block;
          width: 25px;
          height: 10px;
          border-top: 2px solid #eee;
        }
      }
    }
    >.nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      >a {
        display: block;
        width: 100%;
        font-size: 19px;
        color: white;
        padding: 20px 25px;
        text-decoration: none;
      }
    }
    >#nav-check {
      &:not(:checked) {
        ~ {
          .nav-links {
            height: 0px;
          }
        }
      }
      &:checked {
        ~ {
          .nav-links {
            height: calc(100vh - 50px);
            overflow-y: auto;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}